In [9]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Austria_cds_normalised.xlsx")
df2 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Belgium_cds_normalised.xlsx")
#Â£df3 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Croatia_cds_normalised.xlsx")
#df4 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Cyprus_cds_normalised.xlsx")
#df5 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Estonia_cds_normalised.xlsx")

df6 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Finland_cds_normalised.xlsx")
df7 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/France_cds_normalised.xlsx")
df8 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Germany_cds_normalised.xlsx")
df9 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Greece_cds_normalised.xlsx")
df10 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Ireland_cds_normalised.xlsx")

df11 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Italy_cds_normalised.xlsx")
df12 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Latvia_cds_normalised.xlsx")
#df13 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Lithuania_cds_normalised.xlsx")
#df14 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Luxembourg_cds_normalised.xlsx")
#df15 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Malta_cds_normalised.xlsx")

df16 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Netherlands_cds_normalised.xlsx")
df17 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Portugal_cds_normalised.xlsx")
#df18 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Slovakia_cds_normalised.xlsx")
#df19 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Slovenia_cds_normalised.xlsx")
df20 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Spain_cds_normalised.xlsx")

In [11]:
df2 = df2.iloc[:, 1:]

df6 = df6.iloc[:, 1:]

df7 = df7.iloc[:, 1:]
df8 = df8.iloc[:, 1:]
df9 = df9.iloc[:, 1:]
df10 = df10.iloc[:, 1:]
df11 = df11.iloc[:, 1:]

df12 = df12.iloc[:, 1:]

df16 = df16.iloc[:, 1:]

df17 = df17.iloc[:, 1:]

df20 = df20.iloc[:, 1:]

In [12]:
import pandas as pd

# Assuming you have already created the 20 dataframes (df1, df2, ..., df20)

# Create a list of all your DataFrames
dfs = [df1, df2,  df6, df7, df8, df9, df10, df11, df12, df16, df17,df20]

# Use pd.concat to merge them side by side (along the columns)
df = pd.concat(dfs, axis=1)

# Now merged_df contains all the dataframes side by side

In [26]:
df = df[df.index <= 4927]

In [13]:
df

,Code,EVN5EAM,TKA..SX,TKA..S1,TKA..S2,TKA..S3,TKA..S4,TKA..S5,TKA..S0,TKA..S6,...,TEFAEAX,TEF1EAX,TEFBEAX,TEF2EAX,TEFCEAX,TEF3EAX,TEF4EAX,TEF5EAX,TEF0EAX,TEF7EAX
0,2010-01-01,NaN,1.13800,0.38900,0.51700,0.6650,0.78900,0.89400,NaN,0.9770,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.5740,0.6538,0.7335,0.3315,0.8327
1,2010-01-02,NaN,1.13800,0.38900,0.51700,0.6650,0.78900,0.89400,NaN,0.9770,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.5740,0.6538,0.7335,0.3315,0.8327
2,2010-01-03,NaN,1.13800,0.38900,0.51700,0.6650,0.78900,0.89400,NaN,0.9770,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.5740,0.6538,0.7335,0.3315,0.8327
3,2010-01-04,NaN,1.07525,0.36690,0.48815,0.6280,0.74520,0.84445,NaN,0.9229,...,0.9020,0.3524,0.9013,0.4437,0.9007,0.5445,0.6244,0.7041,0.3016,0.8033
4,2010-01-05,NaN,1.04255,0.38605,0.51380,0.6217,0.73995,0.81190,NaN,0.8858,...,0.9020,0.3524,0.9014,0.4436,0.9009,0.5443,0.6243,0.7040,0.3016,0.8033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5078,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5079,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5080,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5081,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5082,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/All Euro/Corporate/CDS.xlsx", index = False)